@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,200;1,300&family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');


.App {
  text-align: center;
}



input{
  border:none;
  border-bottom: 1px solid gray;
  margin:100px auto 0px;
  width:40%;
  font-weight:600;
  font-family:'Montserrat';
  outline:none;
  font-size: 20px;
}

p{
  font-weight:300;
  font-family:'Montserrat';
}

p:hover{
  font-size: 25px;
  color:blueviolet;
}